@media print {
    * {
        color: black;
        background: white;
    }

    .noprint {
        display:none !important;
    }

    .panel-body {
        padding: 0 !important;
        margin: 0 !important;
        border: none !important;
    }
}